<!DOCTYPE html>
<html>
  <head>
    <title>otp</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="../public/proimg/wave.png" />
    <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form action="/otp" method="post">
          <img src="../public/proimg/logo.png" />
          <h2 class="title">Furnitica</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input type="number" name="otp" class="input" placeholder="OTP" />
            </div>
          </div>
          <h4><%= locals.wrong %></h4>

          <input type="submit" class="btn" value="Submit" />
        </form>
      </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
