<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel="shortcut icon" href="/public/images/home/logo-mobie.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="../public/proimg/wave.png" />
    <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form action="/signup" method="post">
          <img src="../public/proimg/logo.png" />
          <h2 class="title">Furnitica</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                type="text"
                id="username"
                name="name"
                onkeyup="validateName()"
                class="input"
                placeholder="Username"
                required
              />
              <p style="color: brown;" id="userError" class="userError"></p>
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                type="text"
                id="email"
                name="email"
                class="input"
                onkeyup="validateEmail()"
                placeholder="Email"
                required
              />
              <p style="color: brown;"id="emailError" class="emailError"></p>
            </div>
            
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="password"
                id="password"
                name="password"
                class="input"
                placeholder="Password"
                onkeyup="validatePassword()"
                required
              />
              <p style="color: brown;" id="passwordError" class="passwordError"></p>
            </div>
          
          </div>
          <!-- <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="password"
                name="cpassword"
                id="cpassword"
                class="input"
                placeholder="Confirm password"
                required
              />
            </div>
          </div> -->
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="number"
                id="phone"
                name="number"
                class="input"
                onkeyup="validatePhone()"
                placeholder="Mobile no"
                required
              />
              <p style="color: brown;" id="phoneError" class="phoneError"></p>
            </div>
        
          </div>

          <p><%=locals.error%></p>
          <p><%=locals.warning%></p>


          <input type="submit" class="btn" value="signup" />
        </form>
      </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>


  <script> 

       const usernameError = document.getElementById('userError');
		   const emailError = document.getElementById('emailError');
			const phoneError = document.getElementById('phoneError');
			const passwordError = document.getElementById('passwordError');
		
			function validateName(){
			  var username = document.getElementById('username').value ;
				 if(username.length == ""){
				  usernameError.innerHTML='Name is required'
				
				 return false
				}
				if(!username.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)){
			usernameError.innerHTML ='please enter valid name'
			return false;
				}
				usernameError.innerHTML = ''
				return true;
			}	
			function validateEmail(){
		  var email = document.getElementById('email').value;
		   
		  if (email.length==0){
			emailError.innerHTML = 'Email  required'
			return false;
		  }
		  if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
			emailError.innerHTML = 'Email Invalid'
			return false;
		  }
		  emailError.innerHTML = '';
			return true;
		}
		function validatePhone(){
			var phone =document.getElementById('phone').value;
			if(phone.length == 0){
				phoneError.innerHTML =' phone no is required '
				return false;
			}
			if(phone.length !== 10){
				phoneError.innerHTML ='phone no should be 10 digits'
				return false
			}
			if(!phone.match(/^[0-9]{10}$/)){
				phoneError.innerHTML = 'phone no is required'
				return false
			}
			phoneError.innerHTML = ''
			return true;
		}
		  function validatePassword(){
		  var password = document.getElementById('password').value
		  if(password.length < 8){
			passwordError.innerHTML = 'password is required [above 8 character]'
			password.focus()
			return false;
		  }
		  passwordError.innerHTML = '';
			return true;
		  }
    
    </script>


</html>
